<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kits Cadastrados</title>
</head>
<body>
    <a href="{% url 'logout' %}">Sair</a>
    <h1>Kits Cadastrados</h1>

    <ul>
    {% for kit in kits %}
        <li>
            <a href="{% url 'kit_update' kit.id %}">{{kit.Numero}}</a>
            <a href="{% url 'kit_delete' kit.id %}"> -    Deletar</a>
        </li>
    {% endfor %}
    </ul>
    </ul>
    <p>
    <a href="{% url 'kit_new' %}">Novo Kit</a>
    </p><p>
    <a href="{% url 'menu' %}">Voltar</a>
    </p>
</body>
</html>