<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Chave</title>
</head>
<body>
    <h1>Cadastro de Chave</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% if funcionario_logado.Cargo_FK.Nome == 'Administrador' %}
            <button type="submit">Salvar</button>
            <a href="{% url 'chave_list' %}">Cancelar</a>
        {% else %}
            <a href="{% url 'chave_list' %}">Voltar</a>
        {% endif %}

    </form>


</body>
</html>