<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agendamento</title>
</head>
<body>
    <h1>Agendamento</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% if funcionario_logado.Cargo_FK.Nome == 'Coordenador' and agendamento.Funcionario_FK.Curso_FK == funcionario_logado.Curso_FK %}
            <button type="submit">Salvar</button>
        {% endif %}
        <!--
        {% if funcionario_logado.Cargo_FK.Nome == 'Recepcionista' %}
        <button type="submit">Salvar</button>
        {% endif %}
        -->
        <a href="{% url 'agendamento_list' %}">Voltar</a>
    </form>


</body>
</html>