<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agendamentos Realizados</title>
</head>
<body>
    <a href="{% url 'logout' %}">Sair</a>
    <h1>Agendamentos</h1>

    <ul>
    {% for agendamento in agendamentos %}
        <li>
            <a href="{% url 'agendamento_update' agendamento.id %}">
                {{agendamento.Funcionario_FK}} - {{agendamento.Salas_FK}} - {{agendamento.Horario_inicio}}</a>
            {% if funcionario_logado.Cargo_FK.Nome == 'Coordenador' and agendamento.Funcionario_FK.Curso_FK == funcionario_logado.Curso_FK %}
                <a href="{% url 'agendamento_delete' agendamento.id %}"> -    Deletar</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    </ul>

    {% if funcionario_logado.Cargo_FK.Nome == 'Coordenador' %}
    <p>
    <a href="{% url 'agendamento_new' %}">Novo Agendamento</a>
    </p>
    {% endif %}
    <p>
    <a href="{% url 'menu' %}">Voltar</a>
    </p>
</body>
</html>