<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Emprestimos</title>
</head>
<body>
    <a href="{% url 'logout' %}">Sair</a>
    <h1>Emprestimos Cadastrados</h1>

    <ul>
    {% for emprestimo in emprestimos %}
        <li>
            <a href="{% url 'emprestimo_update' emprestimo.id %}">{{emprestimo.Numero}}</a>
            {% if usuarioLogado.Cargo_FK.Nome == 'Administrador' %}
                <a href="{% url 'emprestimo_delete' emprestimo.id %}"> -    Deletar</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    </ul>
    {% if usuarioLogado.Cargo_FK.Nome == 'Recepcionista' %}
        <p><a href="{% url 'emprestimo_new' %}">Novo Emprestimo</a></p>
    {% endif %}
    <p>
    <a href="{% url 'menu' %}">Voltar</a>
    </p>
</body>
</html>