<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salas</title>
</head>
<body>
    <a href="{% url 'logout' %}">Sair</a>
    <h1>Salas</h1>

    <ul>
    {% for sala in salas %}
        <li>
            <a href="{% url 'sala_update' sala.id %}">{{sala.Numero}}</a>
            {% if usuarioLogado.Cargo_FK.Nome == 'Administrador' %}
                <a href="{% url 'sala_delete' sala.id %}"> -    Deletar</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    </ul>
    {% if usuarioLogado.Cargo_FK.Nome == 'Administrador' %}
        <p><a href="{% url 'sala_new' %}">Nova Sala</a></p>
    {% endif %}
    <p>
    <a href="{% url 'menu' %}">Voltar</a>
    </p>
</body>
</html>