<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Pessoas</title>
</head>
<body>
    <h1>Cadastro de Pessoas</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form1.as_p }}
        {{ form2.as_p }}

        {% if funcionario_logado.Cargo_FK.Nome == 'Coordenador' %}
            {{ form3.as_p }}
        {% endif %}
        <button type="submit">Salvar</button>
        <a href="{% url 'funcionario_list' %}">Cancelar</a>
        {% if form1.instance.pk == request.user.pk %}
            <a href="{% url 'change_password' %}">Alterar senha</a>
        {% endif %}

    </form>


</body>
</html>